.footer {
  background-color: rgb(253, 241, 210); /* Light orange background color */
  color: rgb(0, 0, 0); /* Text color */
  padding: 20px 0; /* Add some padding */
  text-align: center; /* Center align the content */
  font-family: 'Arial', sans-serif; /* Add a nice font */
  position: fixed; /* Set position to fixed */
  bottom: 0; /* Stick the footer to the bottom of the viewport */
  width: 100%; /* Full width */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: 10px; /* Add some space between the copyright text and the logo */
  font-weight: bold; /* Make the logo text bold */
}
