
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Ensure the login-page-container covers the full viewport height */
.login-page-container {
  background-color: rgb(253, 241, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Styling for the login box within the container */
.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Styling for the heading inside the login box */
.login-box h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Flex layout for form to align form elements vertically */
.login-box form {
  display: flex;
  flex-direction: column;
}

/* Style adjustments for labels within the form */
.login-box label {
  margin-bottom: 10px;
  color: #555;
}

/* Uniform styling for text and password input fields */
.login-box input[type="text"],
.login-box input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the primary submit button */
.login-box button[type="submit"] {
  background-color: #A5DD9B;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for submit button */
.login-box button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styling for the secondary 'Join Now' button */
.login-box .one button {
  background-color: #51829B;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Hover effect for 'Join Now' button */
.login-box .one button:hover {
  background-color: #0056b3;
}