/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa; /* Add your preferred background color */
  }
  
  .logo {
    width: 85px;
    height: 70px; /* Adjust as needed */
  }
  
  .homepage-link {
    text-decoration: none;
    color: #000; /* Adjust link color */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid #000; /* Add border */
    border-radius: 5px;
  }
  
  .homepage-link:hover {
    background-color: #000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }
  